MultiplayerTicTacExample/MultiplayerTicTacExample/Service References/GameServer/GameServerWorkRole.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/GameServerWorkRole" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/GameServerWorkRole" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/GameServerWorkRole.Contract" />
  <xs:complexType name="GameInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
      <xs:element minOccurs="0" name="NumPlayers" type="xs:int" />
      <xs:element minOccurs="0" name="Parameters" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/GameServerWorkRole.Contract" minOccurs="0" name="Players" nillable="true" type="q1:ArrayOfClientInformation" />
      <xs:element minOccurs="0" name="SessionId" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameInformation" nillable="true" type="tns:GameInformation" />
  <xs:complexType name="ArrayOfGameInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameInformation" nillable="true" type="tns:GameInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameInformation" nillable="true" type="tns:ArrayOfGameInformation" />
</xs:schema>